{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Customer</h2>  
    <form method="POST" action="insert">
      <label> Name </label><input type="text" name="name" /><br />
      <label> Surname </label><input type="text" name="surname" /><br />
      <label> Gender </label><input type="text" name="gender" /><br />
      <label> Email </label><input type="email" name="email" /><br />
      <input class="btn-lg btn-success"  type="submit" value="Save user" />
    </form>
  {{ template "Footer" }}
{{ end }}

