{{ define "Orders" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <div class"row  d-md-flex"> 
        <div class="d-grid gap-2 d-md-flex justify-content-md-star">
        <h1 class="fs-1 d-md-flex ">Orders List<h1>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-secondary btn-lg" type="button"><a href="/new">+ Add New</a></button>
        </div>
    </div>
    <table class="table table-striped mt-5">
      <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Description</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>View</td>
        <td>Edit</td>
        <td>Delete</td>
      </tr>
       </thead>
       <tbody>
    {{ range . }}
      <tr>
        <td>{{ .OrderId }}</td>
        <td> {{ .Name }} </td>
        <td>{{ .Description }} </td> 
        <td>{{ .Quantity }} </td> 
        <td>{{ .Price }} </td> 
        <td><a href="/show?id={{ .OrderId }}">Details</a></td>
        <td><a href="/edit?id={{ .OrderId }}">Edit</a></td>
        <td><a href="/delete?id={{ .OrderId }}">Delete</a><td>
      </tr>
    {{ end }}
       </tbody>
    </table>
  {{ template "Footer" }}
{{ end }}
